$text-color: #3D3D3D;
$background-color: #6D6D6D;

body {
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;

  p {
    margin: 10px;
    color: $text-color;
  }
}

h2 {
  background-color: $background-color;
}